.content-inventories-functions .lambda-functions-list {
  .search-form-group {
    max-width: 50em;
    margin-bottom: $iconified-block-padding;
  }

  .functions-list {
    list-style-type: none;
    padding: 0;
  }

  .content-section {
    .form {
      margin: 0;
      margin-top: $padding-base-vertical;
      padding: 0;
    }
  }

  .name {
    @include font-semibold();
    margin-bottom: $padding-small-vertical;
  }

  .name,
  .summary {
    word-break: break-word;
  }
}
