.content-spaces-index {
  .support-chart-container {
    height: 100%;
    overflow: visible;
    .space-providers-support-chart {
      height: 100%;
      .ct-chart {
        height: 100%;
      }
    }
  }
  .map-container {
    height: 150%;
    margin-top: -20px;
  }
}
