.content-harvesters-spaces {
  .header-content-container {
    display: flex;

    .popover-info-trigger {
      font-size: 2em;
    }

    .one-label {
      padding-left: 1em;
    }

    .item-icon-container {
      margin-right: 0;
    }
  }
}
