.content-groups-members {
  .groups-list {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    .one-dynamic-tree {
      max-width: 350px;
    }

    .one-tree-root {
      background-color: $main-content-hover-background;
    }

    .form-group {
      text-align: right;
      padding-right: $padding-small-horizontal;
    }
  }
  .one-dynamic-tree .one-tree .one-tree-list > li {
    &.has-checkbox-group.subtree-expanded > .tree-item-content-container {
      margin-right: initial;
    }

    .one-tree-item-content .form-group {
      min-width: 7em;
      width: 7em;
    }
  }

  .permissions-tree-editor  {
    margin: $padding-large-horizontal;
  }
}
