.content-groups-members {
  .user-list {
    margin-top: 2 * $padding-large-vertical;
  }

  .one-tree-root {
    background-color: $main-content-hover-background;
  }

  .one-collapsible-list-item-content {
    position: relative;
    &.opened {
      min-height: 150px;
    }
  }

  .privileges-tree-editor {
    margin: $padding-large-horizontal;
    margin-left: 65px;
  }

  .item-modified-header .one-label {
    font-weight: bold;
  }

  .token-row {
    position: relative;
    min-height: 150px;
    h1 {
      position: relative;
    }
    .close-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.7em;
      &:hover {
        color: $color-one-light-gray;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .item-modified-header {
      padding-right: 230px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .privileges-tree-editor {
      margin-left: $padding-large-horizontal;
      margin-top: 0;
    }
    .token-row {
      border-bottom: 1px solid $main-border-color;
      .close-icon {
        right: $mobile-horizontal-content-padding;
      }
    }
  }
}

.batch-privileges-edit.modal {
  .one-dynamic-tree {
    margin: 0 auto;
  }
  
  .modal-dialog {
    max-height: 100%;
  }

  .tree-container {
    position: relative;
    min-height: 150px;
  }

  .batch-edit-tree-title {
    margin: 0 auto;
    transform: translateX(-1em);
    .one-icon {
      font-size: 2.4em;
    }
    .one-icon, .one-label {
      vertical-align: middle;
    }
  }

  .modal-footer {
    line-height: $padding-base-vertical * 3 + $line-height-computed;
  }

  @media (max-width: $screen-xs-max) {
    .one-dynamic-tree {
      margin: 0 -2em;
    }
  }
}

.content-groups-members, .batch-privileges-edit.modal {
  @media (max-width: $screen-xs-max) {
    .form-group {
      text-align: right;
    }

    .one-dynamic-tree label {
      max-width: calc(100% - 60px);
    }
  }
  @media (min-width: $screen-sm-min) {
    .one-dynamic-tree, .batch-edit-tree-title {
      max-width: 350px;
    }

    .form-group {
      text-align: right;
      padding-right: $padding-small-horizontal;
    }
  }
  .one-dynamic-tree .one-tree .one-tree-list > li {
    &.has-checkbox-group.subtree-expanded > .tree-item-content-container {
      margin-right: initial;
    }

    .one-tree-item-content .form-group {
      min-width: 4em;
      width: 4em;
    }
  }
}
