.content-tokens {
  .token-textarea {
    width: 100%;
    height: 120px;
    margin-top: 0;
  }
  @media (max-width: $screen-xs-max) {
    padding: 0 $padding-large-horizontal;
    .token-textarea {
      height: 200px;
    }
  }
}
