$spaces-marketplace-items-spacing: 20px;
$spaces-marketplace-item-secondary-row-icon-size: 150%;

.content-spaces-marketplace {
  @media (max-width: $screen-xs-max) {
    padding: 0 1em;
  }
}

.content-spaces-marketplace.no-spaces-available {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .spaces-marketplace-header {
    background-color: transparent;
  }
}

// FIXME: move to separate file

.spaces-marketplace-header {
  @mixin eat-content-col-padding($padding) {
    margin-left: -$padding;
    padding-left: $padding;
    margin-right: -$padding;
    padding-right: $padding;
  }

  position: sticky;
  z-index: 1;
  margin-top: -$content-col-padding;
  padding-top: $content-col-padding;
  @include eat-content-col-padding($content-col-padding);
  @media (max-width: $screen-sm-max) {
    @include eat-content-col-padding($content-col-padding-tablet);
  }
  top: -$content-col-padding;
  background-color: white;
  padding-bottom: $spaces-marketplace-items-spacing * 0.5;

  @include before-bottom-shadow;
}

.col-content.on-top {
  .spaces-marketplace-header {
    @include hide-before-shadow;
  }
}

.scrollbar-above-spaces-marketplace {
  ~ .ps__rail-y {
    z-index: 2;
  }
}

@import './content-spaces-marketplace/filter-header';
@import './content-spaces-marketplace/list';
@import './content-spaces-marketplace/item';
@import './content-spaces-marketplace/item-placeholder';
@import './content-spaces-marketplace/space-item-support-list';
@import './content-spaces-marketplace/space-description';
