.content-atm-inventories-lambdas {
  @include full-col-content-height();
  display: flex;
  flex-direction: column;

  .one-carousel {
    flex-grow: 1;
  }

  .one-carousel-slide > * {
    @include col-content-padding();
  }
}

@import './content-atm-inventories-lambdas/atm-lambdas-list';
@import './content-atm-inventories-lambdas/list-view';
@import './content-atm-inventories-lambdas/atm-lambda-form';
@import './content-atm-inventories-lambdas/creator-view';
