.content-providers {
  position: absolute;
  @include fill-container();
  @media (max-width: $screen-xs-max) {
    .provider-place-drop {
      .drop-title-bar {
        padding: $padding-base-vertical $padding-base-horizontal;
      }
      .btn-container {
        text-align: center;
      }
      .btn {
        display: inline-block;
        padding: $padding-base-vertical $padding-large-horizontal;
        font-size: 100%;
      }
    }
  }
  .one-atlas {
    top: 50%;
    transform: translateY(-50%);
  }
}
