.content-spaces-providers {
  .col-space-provider-list > .row {
    padding-top: 22px;
  }
  .provider-item {
    .provider-item-name-line {
      max-width: calc(100% - 3em);
    }
  }
  .row-space-providers-support-chart .inner-row-content {
    padding-top: $padding-large-vertical;
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
  }
  .row-space-providers-support-chart {
    // currently the map is too high because of ocean
    position: relative;
    top: -100px;
  }
  @media (max-width: $screen-xs-max) {
    .row-space-providers-support-chart {
      top: 0;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: 850px) {
    .row-space-providers-support-chart {
      top: -200px;
    }
  }
  .col-space-provider-atlas-chart {
    @media (min-width: $screen-md-min) {
      padding-left: $padding-large-horizontal;
    }
  }

  @import './content-spaces-providers/provider-config';
}
