@import './content-inventories-workflows/workflows-list';
@import './content-inventories-workflows/list-view';
@import './content-inventories-workflows/creator-view';
@import './content-inventories-workflows/editor-view';
@import './content-inventories-workflows/loading-view';

.content-inventories-workflows {
  @include min-size-as-full-col-content();
  display: flex;
  flex-direction: column;

  .one-carousel {
    flex-grow: 1;
  }

  @media (min-width: $screen-md-min) {
    .one-carousel-slide > * {
      padding: $content-col-padding;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .one-carousel-slide > * {
      padding: $padding-large-horizontal;
    }
  }
}
