.content-harvesters-indices {
  .form-component {
    .schema-field textarea {
      font-family: monospace;
      height: 200px;
    }

    .includeFileDetails-field,
    .includeMetadata-field {
      margin-bottom: $form-group-margin-bottom - $padding-small-vertical;

      &.field-view-mode {
        margin-bottom: $form-component-view-margin - $padding-small-vertical;
      }

      .toggle-field-renderer {
        margin-bottom: $padding-small-vertical;
        transition: transition-linear(color);

        .control-label {
          @include font-regular;
        }

        &.has-error {
          color: $color-one-danger;
        }
      }
    }

    .btn-toolbar {
      float: none;
      text-align: center;
    }
  }

  @media (min-width: $screen-sm-min) {
    .content-harvesters-indices-index-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .form-component {
      width: calc(100% - #{$padding-large-horizontal});

      .control-label {
        min-width: 180px;
      }

      .includeFileDetails-field,
      .includeMetadata-field {
        justify-content: flex-end;

        > .control-label {
          flex-basis: 20%;
          margin-bottom: 0;
        }

        > .field-component {
          flex-basis: calc(80% - 180px);
        }

        > .field-message {
          flex-basis: 80%;
          max-width: calc(100% - 180px);
          text-align: left;
        }

        .toggle-field-renderer {
          display: inline-flex;
          min-width: 190px;
  
          .control-label {
            order: 1;
            flex-grow: 1;
            flex-shrink: 1;
            min-width: initial;
            width: initial;
            margin-left: 1.5 * $padding-xs-horizontal;
            padding-right: 3 * $padding-base-vertical;
            text-align: left;
          }
      
          .field-component {
            flex-grow: initial;
          }
        }
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .form-component {
      .includeFileDetails-field,
      .includeMetadata-field {
        &.field-view-mode > .control-label {
          margin-bottom: $form-component-view-margin;
        }
      }
    }
  }

  .schema-textarea {
    font-family: monospace;
    resize: none;
  }
  .one-collapsible-list .list-header-row {
    padding-right: 170px;
  }
  .one-collapsible-list-item-header {
    &.opened {
      border-bottom: 0;
    }
    &:hover, &.popover-active {
      .id-presenter-trigger {
        display: block;
      }
    }
  }
  .one-collapsible-list-item-content.opened {
    max-height: 4000px;
  }
  .one-collapsible-list-item {
    max-height: 4200px;
  }
  .id-presenter-trigger {
    @include vertical-align-middle();
    right: 60px;
    font-size: 2.1em;
    display: none;
    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
  .index-name-editor {
    display: inline-block;
    margin: -($input-height-base - $line-height-computed) / 2 0;
    width: calc(100% - 3em);
  }
  .index-labels-container {
    @include vertical-align-middle();
    right: 90px;
    line-height: 0;
  }
  .index-details-container {
    margin: $padding-large-horizontal;
    .schema-textarea {
      resize: none;
    }
  }
  .nav-tabs {
    padding: 0 $padding-large-horizontal;
    background-color: $collapsible-list-item-header-opened;
  }
  .tab-content {
    background-color: $main-content-hover-background;
  }
  .nothing-to-harvest {
    margin-top: 40px;
  }
  .content-harvesters-indices-progress-table {
    $chart-size: 65px;
    min-height: 120px;

    .visible-stats-label {
      margin-right: 0;
      margin-left: $padding-xs-horizontal;

      .one-icon {
        margin-left: 3px;
      }
    }

    .progress-table-cell {
      position: relative;
      &.inactive {
        opacity: 0.4;
      }
    }

    .progress-chart {
      @include absolute-align-middle-center();
      width: $chart-size;
      height: $chart-size;
      border-radius: 100%;
      text-align: center;
      line-height: $chart-size;
      color: $color-one-white;
      @include font-semibold();
      .donut-ring, .donut-segment {
        fill: transparent;
        stroke-width: 33;
      }
      .donut-ring {
        stroke: $color-one-gray-sand;
      }
      .donut-segment {
        // 100 * PI / 4
        stroke-dashoffset: 78.5398;
      }
      .chart-text {
        @include font-regular();
        font-size: 1.6em;
        text-anchor: middle;
        dominant-baseline: middle;
      }
      &.danger .donut-segment {
        stroke: $color-one-danger;
      }
      &.warning .donut-segment {
        stroke: $color-one-warning;
      }
      &.success .donut-segment {
        stroke: $color-one-success;
      }
      &.not-supported {
        opacity: 0.1;
        background-size: contain;
        background-image: url($root-url + 'images/x-circle-empty.svg');
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    .last-update-info {
      margin-bottom: $padding-base-vertical;
      margin-right: $padding-base-horizontal;
    }

    .progress-table-container.list-layout {
      .progress-row {
        position: relative;
        line-height: $chart-size;
        padding-left: $chart-size + $padding-base-horizontal;
      }
      .progress-table-cell {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: $chart-size;
        width: $chart-size;
      }
    }

    .progress-table-container.table-layout {
      display: flex;
      flex-direction: column;
      align-items: center;

      .progress-table-inner-container {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 100%;
        max-height: 70vh;
        min-height: 400px;
      }
  
      .progress-table-cell {
        height: $chart-size * 1.5;
        width: $chart-size * 1.5;
        min-width: $chart-size * 1.5;
      }
  
      .row-label,
      .column-label {
        word-wrap: break-word;
        line-height: 1;
      }
  
      .row-label {
        vertical-align: middle;
        text-align: right;
        padding: $padding-base-vertical $padding-large-horizontal $padding-base-vertical 0;
        max-width: 120px;
    
        .one-label {
          width: 100%;
        }
      }
  
      .column-label {
        vertical-align: bottom;
        text-align: center;
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
    
        .one-label {
          display: inline-block;
          vertical-align: top;
          transform: translateX(50%) rotate(-45deg);
          transform-origin: bottom left;
          writing-mode: vertical-rl;
          max-height: 120px;
          text-align: right;
          max-width: 4 * $font-size-base;
          overflow: hidden;
        }
      }
  
      .constant-row-label,
      .constant-column-labels {
        visibility: hidden;
      }

      .constant-column-labels,
      .floating-column-labels {
        .floating-row-label {
          @include hide-after-shadow;
        }
      }
  
      .floating-row-label {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 1;
        // Is initially hidden to not present labels in non-calculated state at the beginning.
        visibility: hidden;
        background-color: $main-content-hover-background;
        @include after-left-shadow;
        &::after {
          left: initial;
          right: 0;
        }
      }
  
      .floating-column-labels {
        position: absolute;
        display: flex;
        top: 0;
        z-index: 2;
        @include before-top-shadow;
        &::before {
          top: initial;
          bottom: 0;
        }
        td {
          display: block;
          background-color: $main-content-hover-background;
        }
      }

      .progress-table-inner-container {
        @include before-bottom-shadow;
        @include after-right-shadow;

        &.scroll-on-bottom {
          @include hide-before-shadow;
        }

        &.scroll-on-right {
          @include hide-after-shadow;
        }
      }

      .scroll-on-top {
        .floating-column-labels {
          @include hide-before-shadow;
        }
      }

      .scroll-on-left .floating-row-label {
        @include hide-after-shadow;
      }

      .right-shadow-overlay {
        position: absolute;
        width: $top-shadow-height;
        background-color: $main-content-hover-background;
        top: 0;
        right: -$top-shadow-height;
        height: 0;
        z-index: $top-shadow-zindex + 1;
      }

      .ps {
        height: 100%;
      }
  
      .ps__rail-x,
      .ps__rail-y {
        z-index: 2;
      }
    }
  }
}

.progress-more-info.one-webui-popover {
  max-width: 200px;
  word-break: break-all;
  .description-items {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  .harvesting-progress, .last-update {
    word-break: normal;
  }
}

.index-id-info.one-webui-popover {
  .form-group:last-child {
    margin-bottom: 0;
  }
}
