.content-clusters-deregister {
  // TODO: this can be reused in future as common style
  .btn-toolbar-deregister {
    margin-top: $padding-large-vertical;
    text-align: center;
    .btn {
      float: none;
    }
  }
  
  @media (max-width: $screen-xs-max) {
    .info {
      &.continue-col {
        margin-top: 0;
      }
    }
  }
}
