.harvester-configuration {
  .type-name-editor {
    margin: -($input-height-base - $line-height-computed) / 2 0;
    max-width: 400px;
  }
  .schema-editor {
    margin: $padding-large-vertical;
  }
  .remove-type {
    @include vertical-align-middle();
    right: 50px;
    font-size: 2em;
    &:hover {
      color: $color-one-danger;
    }
  }
  .index-editor-input {
    width: 50%;
  }
}

.harvester-configuration-general {
  min-height: 100px;
}

.harvester-configuration-gui-plugin {
  .not-assigned {
    color: $main-text-color-disabled;
    font-style: italic;
  }
  .indices-table {
    table-layout: fixed;
    &:not(.bt) {
      .index-info {
        width: 60%;
      }
    }
    &.bt tbody tr td {
      position: relative;
      &:before {
        width: auto;
      }
    }
  }
  .index-info {
    form {
      margin: 0;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
}
