.invite-token-generator {
  position: relative;
  min-height: 180px;

  .clipboard-line {
    margin-bottom: $padding-small-vertical;
  }
  
  .token-textarea {
    margin: 0;
    height: 140px;
  }

  .additional-token-actions {
    text-align: right;

    a {
      display: inline-block;

      &:first-child ~ a {
        margin-left: $padding-small-horizontal;
      }
    }
  }
}
