.login-box {
  .zone-image {
    position: relative;
    right: -13px;
    height: 80px;
    background-size: contain;
    background-image: url('/assets/images/oneworld.svg');
    background-repeat: no-repeat;
    background-position: right center;
  }

  .zone-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 23px;
    font-size: 14pt;
    text-align: left;
    text-transform: uppercase;
    line-height: 100%;
  }

  .zone-name {
    word-break: break-word;
  }

  .zone-subtitle {
    font-size: 0.8em;
    opacity: 0.8;
    word-break: break-word;
  }
  
  .login-notification {
    position: absolute;
    padding: $padding-base-horizontal;
    margin: 80px auto $padding-base-vertical 0;
    background-color: rgba($color-one-blue-gray, 0.3);
    border: 1px solid lighten($color-one-blue-gray, 15%);
    text-align: center;
    font-family: 'Open Sans Semibold';
    word-wrap: break-word;
    @media (min-width: $screen-sm-min) {
      position: absolute;
      width: $screen-sm-min - 2 * $padding-base-horizontal;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .test-mode-notification {
    background-color: rgba($color-one-warning, 0.5);
    border: 1px solid darken($color-one-warning, 3%);
    a {
      &:hover, &:active {
        color: darken($color-one-mint, 10%);
      }
    }
  }
}
