.members-aspect-base {
  .user-list {
    margin-top: 2 * $padding-large-vertical;
  }

  .one-tree-root {
    background-color: $main-content-hover-background;
  }

  .one-collapsible-list-item-content {
    position: relative;
    &.opened {
      min-height: 150px;
    }
  }

  .privileges-tree-editor {
    margin: $padding-large-horizontal;
    margin-left: 65px;
  }

  .item-modified-header .one-label {
    font-weight: bold;
  }

  @media (min-width: $screen-sm-min) {
    .item-modified-header {
      padding-right: 230px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .privileges-tree-editor {
      margin-left: $padding-large-horizontal;
      margin-top: 0;
    }
  }
}
