.oneprovider-view-container {
  $map-trigger-width: 40px;
  $map-trigger-margin-vert: 4px;

  transform: translateZ(0);

  .oneprovider-view-container-inner {
    justify-content: center;
  }
  
  > *:not(.oneprovider-view-container-inner) {
    pointer-events: auto;
  }

  .content-header-section {
    z-index: 1;
  }

  .provider-online .one-icon {
    color: $color-one-success;
  }
  .provider-offline .one-icon {
    color: $color-one-danger;
  }
  .one-tab-bar {
    padding-right: $map-trigger-width;
    
    &.tabs-overflowing {
      padding-right: 210px + $map-trigger-width;
    }

    &.with-map-selector {
      .tab-bar-selector {
        right: $map-trigger-width + $padding-small-horizontal;
      }
    }
    
    .tab-bar-selector {
      z-index: 1;
    }

    .map-trigger {
      position: absolute;
      right: 0;
      top: $map-trigger-margin-vert;
      bottom: $map-trigger-margin-vert + 4px;
      width: $map-trigger-width;
  
      &:hover, &.active {
        border: 1px solid $main-border-color;
      }
  
      &.active {
        bottom: -1px;
        border-bottom: 0;
        background-color: $color-one-white;
        z-index: 1;
        .one-icon {
          transform: translateY(-50%) translateX(-50%) translateY(-$map-trigger-margin-vert - 1px);
        }
      }
  
      &:hover {
        background-color: $main-content-hover-background;
      }
    }

    .map-selector {
      position: fixed;
      top: $content-header-row-height + $-one-tab-bar-height + $padding-base-vertical;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @media(max-width: $screen-sm-max) {
      .map-selector {
        top: $content-header-row-mobile-height + $-one-tab-bar-height + $padding-base-vertical
      }
    }
    
    @media (max-width: $screen-xs-max) {
      .map-selector {
        top: $-one-tab-bar-height + $padding-base-vertical - $content-col-padding;
      }
    }
  }
  
  .tab-bar-selector {
    @media (max-width: $screen-xs-max) {
      left: 0;
      width: auto;
    }
  }
  
  .tab-bar-ul-container-space {
    height: 44px;
  }
    
  .current-oneprovider-bar {
    position: relative;
    height: 44px;
    line-height: 44px;
    &.current-oneprovider-bar-multi {
      .oneprovider-name.truncated-string {
        max-width: calc(100% - 380px);
      }
      @media (max-width: 900px) {
        .current-oneprovider-bar-info {
          display: none;
        }
        .oneprovider-name.truncated-string {
          max-width: calc(100% - 270px);
        }
      }
    }
    .oneprovider-name.truncated-string {
      display: inline-block;
      font-weight: bold;
      max-width: calc(100% - 180px);
      vertical-align: middle;
    }
    .choose-oneprovider-link {
      margin-left: 4px;
    }
    .collapsed-selector-hint-trigger {
      margin-left: 6px;
    }
    @media (max-width: 900px) {
      .current-oneprovider-bar-info {
        display: inline;
      }
      .oneprovider-name.truncated-string {
        max-width: calc(100% - 200px);
      }
    }
  }
}
