.space-description-markdown-container {
  --space-description-background-color: #{$main-tabbed-content-background};

  background-color: var(--space-description-background-color);
  border: 1px solid #{$main-border-color};
  border-radius: #{$border-radius-base};
}
