.privileges-aspect-base {
  .user-list {
    margin-top: 2 * $padding-large-vertical;
  }

  .one-tree-root {
    background-color: $main-content-hover-background;
  }

  .one-collapsible-list-item-content {
    position: relative;
    &.opened {
      min-height: 150px;
    }
  }

  .privileges-tree-editor {
    margin: $padding-large-horizontal;
    margin-left: 65px;
  }

  .item-modified-header .one-label {
    font-weight: bold;
  }

  @media (min-width: $screen-sm-min) {
    .item-modified-header {
      padding-right: 230px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .privileges-tree-editor {
      margin-left: $padding-large-horizontal;
      margin-top: 0;
    }
  }
}

.privileges-aspect-base, .batch-privileges-edit.modal {
  @media (max-width: $screen-xs-max) {
    .form-group {
      text-align: right;
    }

    .one-dynamic-tree label {
      max-width: calc(100% - 60px);
    }
  }
  @media (min-width: $screen-sm-min) {
    .one-dynamic-tree, .batch-edit-tree-title {
      max-width: 350px;
    }

    .form-group {
      text-align: right;
      padding-right: $padding-small-horizontal;
    }
  }
  .one-dynamic-tree .one-tree .one-tree-list > li {
    &.has-checkbox-group.subtree-expanded > .tree-item-content-container {
      margin-right: initial;
    }

    .one-tree-item-content .form-group {
      min-width: 4em;
      width: 4em;
    }
  }
}
