.provider-info-name {
  .provider-info-trigger {
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 180%;
  }

  &.nav-link .flippable-icons .icon-container {
    .oneicon-browser-info.one-icon {
      color: inherit;
    }
  }
}
