.provider-info-name {
  .oneprovider-name.truncated-string {
    display: inline-flex;
    align-items: center;
    .one-label {
      margin-left: 0.3em;
    }
  }
  .provider-info-trigger {
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
  }

  &.nav-link {
    .flippable-icons .icon-container {
      .oneicon-browser-info.one-icon {
        color: inherit;
      }
    }
    .provider-info-trigger {
      margin-bottom: 0px;
    }
  }
  
  
}
