.sidebar-tokens {
  .token-item.inactive-token {
    .sidebar-item-icon, .token-name:not(.editor) {
      opacity: 0.6;
    }
    .sidebar-item-title-lower {
      opacity: 0.6;
    }
  }

  .advanced-filters {
    margin-top: $padding-small-vertical;

    .filter-row {
      display: flex;
      align-items: center;

      & + .filter-row, & + * .filter-row {
        margin-top: $padding-small-vertical;
      }
    }

    .filter-label {
      flex-grow: 0;
      flex-shrink: 0;
      width: 60px;
    }

    .filter-control {
      flex-grow: 1;
      min-width: 0;
      display: flex;
    }

    .type-filter {
      flex-wrap: wrap;

      .btn {
        flex-grow: 1;
      }
    }

    .target-filter-row {
      display: flex;
    }

    .target-model-filter {
      flex-shrink: 0;
      flex-basis: 130px;
      min-width: 0;
      margin-right: $padding-small-vertical;
    }

    .target-record-filter {
      flex-grow: 1;
      min-width: 0;
    }

    .ember-power-select-options[role=listbox] {
      max-height: 150px;
      white-space: nowrap;
    }
  }

  @media (max-width: $screen-md-max) {
    .advanced-filters {
      .type-filter {
        .btn {
          flex-basis: 50%;
          margin-left: -1px;
          padding-left: $padding-small-horizontal;
          padding-right: $padding-small-horizontal;

          &:first-child {
            border-bottom-left-radius: 0;
            margin-left: 0;
          }

          &:nth-child(2) {
            border-top-right-radius: $border-radius-small;
            & ~ .btn {
              margin-top: -1px;
            }
          }

          &:nth-child(3) {
            border-bottom-left-radius: $border-radius-small;
            margin-left: 0;
          }

          &:last-child {
            border-top-right-radius: 0;
          }
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .advanced-filters {
      .target-filter {
        flex-wrap: wrap;
      }

      .target-model-filter {
        margin: $padding-small-vertical 0;
      }

      .target-model-filter,
      .target-record-filter {
        flex-basis: 100%;
      }
    }
  }
}
