.token-editor {
  .basic-field .control-label,
  .caveat-group-toggle {
    flex-shrink: 0;
    width: 200px;
  }
  .caveat-group {
    > .field-component > .fields-group-collapse {
      display: flex;
    }
    .static-text-field-renderer {
      align-self: center;
    }
  }
  .caveat-group-toggle,
  .static-text-field-renderer,
  .radio-field-renderer {
    padding-top: $padding-base-vertical;
  }
  .caveat-group-toggle {
    flex-grow: 0;
    .field-component {
      order: -1;
      flex-grow: 0;
      margin-right: 25px;
    }
    + .field-renderer {
      flex-grow: 1;  
    }
  }
}
