.token-template-selector {
  .one-collapsible-list {
    margin-top: $padding-large-vertical;
  }

  .one-collapsible-list-item-header h1 {
    line-height: 1;
    // reset padding in mobile view
    padding: 0;
  }

  .category-link-arrow {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 0;
    vertical-align: middle;
  }

  .one-tile-container {
    margin: 0;
    justify-content: flex-start;
    padding: 0 $padding-base-horizontal $padding-base-horizontal 0;
  }

  @media (max-width: $screen-sm-max) {
    .one-tile-container {
      justify-content: center;
    }
  }

  .one-carousel {
    position: absolute;
    @include fill-container();
  }

  .one-tile {
    margin: $padding-base-horizontal 0 0 $padding-base-horizontal;
    width: 240px;
    height: 240px;

    .tile-title {
      @include font-semibold();
    }
  }

  .record-selector-slide {
    display: flex;
    flex-direction: column;

    > * {
      order: 2;
    }

    .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      order: 0;
      margin-bottom: $padding-base-vertical;
    }

    .search-bar {
      width: 11em;
    }

    .scroll-top-shadow {
      order: 1;
    }

    .records-info {
      align-self: center;
    }
  }

  .records-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    &:not(.on-top) {
      ~ .scroll-top-shadow {
        position: relative;
        @include before-bottom-shadow();
      }
    }

    &:not(.on-bottom) {
      ~ .scroll-bottom-shadow {
        position: relative;
        @include before-top-shadow();
      }
    }
  }

  .records-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    min-width: 0;

    .record-item {
      padding: $padding-small-vertical * 1.5 $padding-xs-horizontal;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $main-border-color;
      font-size: 90%;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background-color: $main-content-hover-background;
      }
    }

    .record-icon {
      margin-right: $padding-xs-horizontal;
      line-height: 0;
      font-size: 1.7em;
    }
  }
}
