.token-editor {
  max-width: 1000px;
  .caveat-group {
    > .field-component > .fields-group-collapse {
      display: flex;
    }
    .static-text-field-renderer {
      align-self: center;
    }
  }
  .caveat-group-toggle,
  .static-text-field-renderer,
  .radio-field-renderer {
    padding-top: $padding-base-vertical;
  }
  .caveat-group-toggle {
    flex-grow: 0;
    .field-component {
      order: -1;
      flex-grow: 0;
      margin-right: 25px;
    }
    + .field-renderer {
      flex-grow: 1;  
    }
  }

  .toggle-icon {
    position: initial;
    display: initial;
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: middle;
  }

  .metadata-field textarea {
    height: 130px;
  }

  .usageLimit-collapse.in,
  .region-collapse.in,
  .country-collapse.in,
  .pathEntry-collapse.in {
    display: flex;
    align-items: flex-start;
  }

  .usageLimitSelector-field {
    flex-grow: 0;
    white-space: nowrap;
  }

  .regionType-field,
  .countryType-field,
  .pathSpace-field {
    flex-grow: 0;

    .dropdown-field-trigger {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .regionType-field,
  .countryType-field {
    width: 110px;
  }

  .pathSpace-field {
    width: 200px;
  }

  .regionList-field,
  .countryList-field,
  .pathString-field {
    .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .regionCaveat-field,
  .asnCaveat-field,
  .serviceCaveat-field {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      width: 100%;
      border-top: 1px solid $main-border-color;
    }
  }

  .submit-token {
    margin-top: $padding-base-vertical;
  }

  @media (min-width: $screen-sm-min) {
    .basic-field .control-label,
    .caveat-group-toggle {
      flex-shrink: 0;
      width: 200px;
    }

    .usageLimit-field {
      flex-wrap: nowrap;
    }

    .usageLimitNumber-field {
      flex-grow: 0;
      flex-basis: 300px;
    }

    .regionCaveat-field,
    .asnCaveat-field,
    .serviceCaveat-field {
      &.is-enabled {
        padding-top: $padding-base-vertical;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .caveat-group-toggle {
      flex-basis: 100%;

      .control-label {
        width: initial;
      }
    }

    .caveat-group {
      .static-text-field-renderer,
      .radio-field-renderer {
        padding-top: 0;
      }

      > .field-component > .fields-group-collapse {
        flex-wrap: wrap;
      }
    }
  }
}
