.token-consumer {
  $mobile-view-breakpoint: $screen-sm-min + 180;
  text-align: center;

  &.is-examining {
    .token-string {
      padding-right: 2 * $padding-base-horizontal + 24px;
    }
  }

  .token-container {
    position: relative;
    margin-bottom: 2 * $padding-base-vertical;
    transform: translateY(-50%);

    .spin-spinner-block {
      position: absolute;
      top: 0;
      right: $padding-base-horizontal;
      height: $input-height-base;
    }
  }

  .type-info { 
    font-size: 13pt;

    strong {
      @include font-bold();
    }

    .type-label {
      @include font-semibold();
    }

    .token-type {
      padding-bottom: 3 * $padding-base-vertical;
      margin: 0;
    }
    
    @media (min-width: $mobile-view-breakpoint) {
      .arrow {
        width: 210px;
      }
      .arrow::after, .arrow::before {
        width: 10%;
      }
      .join-arrow-image {
        width: 217px;
      }
    }
    @media (max-width: $mobile-view-breakpoint) {
      .arrow {
        width: 130px;
      }
      .arrow::after, .arrow::before {
        width: 15%;
      }
      .join-arrow-image {
        width: 136px;
      }
      .subject-image-label {
        max-width: 200px;
      }
      .token-type {
        display: flex;
        justify-content: center;
      }
    }

    .arrow {
      position: absolute;
      height: 5px;
      background-color: #303e51;
      max-width: 100%;
    }

    .arrow::after, .arrow::before {
      content: '';
      position: absolute;
      height: 5px;
      right: -6px;
      background-color: #303e51;
    }

    .arrow::after {
      top: -6px;
      transform: rotate(45deg);
    }
    
    .arrow::before {
      top: 6px;
      transform: rotate(-45deg);
    }

    .join-arrow-image {
      display: inline-block;
      vertical-align: top;
      padding-top: $padding-base-vertical + 31px;
    }

    .arrow-label {
      padding-bottom: $padding-xs-horizontal;
      font-weight: bold;
      color: #303e51;
    }

    .subject-image {
      display: block;
      padding: $padding-base-vertical;
      width: 150px;
    }

    .invite-subject-image, .invite-target-image {
      position: relative;
      max-width: 200px;
    }
  }

  .joining-record-container {
    position: relative;
    min-height: 60px;
    flex-grow: 3;
    margin-bottom: 2 * $padding-base-vertical;
  }

  .joining-record-selector {
    font-size: 14px;
  }

  .consume-token-image {
    display: flex;
    color: #303e51;
    justify-content: center;
    padding-bottom: 6 * $padding-base-vertical;
  }

  .subject-image-label {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 300px;
  }

  .select-below-label {
    font-style: italic;
  }

  .subject-name {
    font-weight: bold;
  }

  .joining-record-selector {
    text-align: left;
    margin-bottom: 2 * $padding-base-vertical;
  }

  .warning-icon {
    height: 21px;
    vertical-align: text-bottom;
  }
  .discard-btn {
    margin-right: $padding-base-horizontal;
  }

  .option-buttons {
    padding-top: $padding-base-vertical;

    @media (min-width: $mobile-view-breakpoint) {
      padding-top: 2 * $padding-base-vertical;
    }
  }
  .id-trigger {
    font-size: 140%;
  }

  .subject-icon-popover {
    display: flex;
    padding-left: 5px;
  }
}
