<form class="form form-horizontal form-component">
  {{form-component/field-renderer field=fields}}
  {{#if (or (eq mode "create") (eq mode "edit"))}}
    <div class="btn-toolbar footer-buttons">
      {{#one-button
        type="primary"
        buttonType="submit"
        class="btn-submit"
        onClick=(action "submit")
        disabled=(not fields.isValid)
      }}
        {{tt this (concat "submit." mode)}}
      {{/one-button}}
      {{#bs-button
        class="btn-cancel"
        disabled=isSubmitting
        onClick=(action "cancel")
      }}
        {{tt this "cancel"}}
      {{/bs-button}}
    </div>
  {{/if}}
</form>
{{yield}}
