<form class="form form-horizontal form-component">
  {{form-component/field-renderer field=fields}}
  {{#if (or (eq mode "create") (eq mode "edit"))}}
    <div class="btn-toolbar footer-buttons">
      {{#one-spin-button
        class="btn btn-primary btn-submit"
        action=(action "submit")
        disabled=(not fields.isValid)
      }}
        {{tt this (concat "submit." mode)}}
      {{/one-spin-button}}
      {{#if (eq mode "edit")}}
        {{#bs-button
          class="btn-cancel"
          disabled=isSubmitting
          onClick=(action "cancel")
        }}
          {{tt this "cancel"}}
        {{/bs-button}}
      {{/if}}
    </div>
  {{/if}}
</form>
{{yield}}
