<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">{{tt this "header"}}</span>
    {{actions-toolbar isMinimized=false actionsArray=globalActions}}
  </h1>
</div>
<div class="row content-row">
  {{#promise-proxy-container proxy=atmLambdasProxy}}
    {{content-atm-inventories-lambdas/atm-lambdas-list
      collection=atmLambdasProxy.content
    }}
  {{/promise-proxy-container}}
  {{!-- TODO: VFS-7597 add content info about no lambda --}}
</div>
{{yield}}
