<div class="container login-header">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1 zone-image"></div>
    <div class="col-xs-6 col-sm-6 col-md-3 zone-label">
      <div class="zone-name">
        {{brandTitle}}
      </div>
      {{#if brandSubtitle}}
        <div class="zone-subtitle">
          {{brandSubtitle}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
