.enable-marketplace-advertisement-modal {
  .contact-form {
    margin-top: 1em;
  }
  .contactEmail-field {
    label {
      @media (min-width: $screen-sm-min) {
        text-align: left;
        width: auto;
      }
    }
  }
  .contact-form + .email-visible-alert {
    margin-top: 0;
  }
  .marketplace-link {
    display: inline-flex;
    align-items: center;
    .one-icon {
      margin-left: 0.2em;
      font-size: 120%;
    }
  }
}
