.enable-markeplace-advertisement-modal {
  .contact-form {
    margin-top: 1em;
  }
  .contactEmail-field {
    label {
      min-width: auto;
      text-align: left;
      width: auto;
    }
  }
  .marketplace-link {
    display: inline-flex;
    align-items: center;
    .one-icon {
      margin-left: 0.2em;
      font-size: 120%;
    }
  }
}
