.content-spaces-datasets {
  .content-spaces-datasets-header {
    display: flex;
    align-items: flex-start;
  }
  .dataset-name-header {
    overflow: hidden;
  }
  .header-selector {
    margin-left: 2em;
    margin-top: 0.25em;
  }
  .header-selector-right {
    display: flex;
    justify-content: flex-end;
    .btn-group {
      float: none;
    }
  }
}
