.content-spaces-index {
  .support-chart-container {
    height: 100%;
    overflow: visible;
    .space-providers-support-chart {
      height: 100%;
      .ct-chart {
        height: 100%;
      }
    }
  }
  .header-row {
    h1 {
      display: flex;
      justify-content: space-between;
    }
  }
  .resource-browse-tile {
    .main-figure {
      .one-label {
        position: relative;
      }
      .one-icon {
        position: absolute;
        bottom: 3px;
        left: 0;
        color: $color-one-warning;
      }
      .offline-text {
        margin-right: -20px;
      }
    }
  }
}
