.login-box {
  .zone-image {
    position: relative;
    right: -13px;
    height: 80px;
    background-size: contain;
    background-image: url($root-url + 'images/oneworld.svg');
    background-repeat: no-repeat;
    background-position: right center;
  }

  .zone-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 23px;
    font-size: 14pt;
    text-align: left;
    text-transform: uppercase;
    line-height: 100%;
  }

  .zone-name {
    word-break: break-word;
    width: 25vw;
    max-width: 350px;
  }

  .zone-subtitle {
    font-size: 0.8em;
    opacity: 0.8;
    word-break: break-word;
  }

  .login-notification {
    .warning-icon {
      padding-left: 4px;
      font-size: 120%;
    }
  }

  @media (max-width: $screen-xs-max) {
    .zone-name {
      width: calc(50vw - 35px);
    }
  }
}
