.members-aspect-base {
  .user-list-row {
    margin-top: 2 * $padding-large-vertical;
  }

  .one-tree-root {
    background-color: $main-content-hover-background;
  }

  .one-collapsible-list-item-content {
    position: relative;
    &.opened {
      min-height: 150px;
    }

    .memberships-container {
      display: flex;
      flex-direction: column;
      margin: $padding-base-vertical $padding-base-horizontal;
    }
    .header-memberships-container {
      border: 1px solid $table-border-color;
      border-bottom: none;
      border-radius: $border-radius-base $border-radius-base 0 0;
      background-color: #eaeaea;
      @include font-semibold;
      padding: 10px 10px 10px 16px;
      display: flex;
      justify-content: space-between;

      .header-memberships {
        display: flex;

        .one-label-tip {
          display: flex;
          align-items: center;
          margin-left: 0.4em;
        }
      }
    }

    .membership-visualiser {
      min-height: 50px;

      .membership-block {
        padding-left: 1.45em;
      }
    }

    .body-memberships {
      border: 1px solid $table-border-color;
      border-radius: 0 0 $border-radius-base $border-radius-base;
    }

    .show-descriptions-toggle {
      font-size: 85%;
      font-weight: normal;

      label {
        margin-right: 0.8em;
      }
    }

    .member-content {
      @media (min-width: $screen-lg-min) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .member-privileges-table, .memberships-container {
          width: 50%;
        }
      }
    }

    .content-row {
      button:first-of-type {
        margin-right: $padding-xs-horizontal;
      }
    }
  }

  .content-row h1 {
    .show-only-direct {
      float: right;
      padding-right: 2.7em;
      font-size: 70%;

      label {
        padding-right: 0.8em;
        text-transform: none;
        letter-spacing: normal;
      }

      div.one-way-toggle {
        margin-top: -0.2em;
      }
    }
  }

  .member-item .one-collapsible-list-item-header {
    padding-right: 190px;
    .btn-toolbar {
      margin-right: 140px;
    }
  }

  .right-container {
    @include vertical-align-middle();
    right: 50px;
  }

  .privileges-of-owner-warning {
    margin: $padding-large-horizontal;
  }

  .privileges-tree-editor {
    margin: $padding-large-horizontal;
    margin-left: 65px;
  }

  .membership-visualiser {
    .membership:last-child {
      border-bottom: 0;
    }
  }

  .member-item .item-modified-header {
    @media (min-width: $screen-sm-min) {
      padding-right: 370px;
    }
    .one-label {
      @include font-bold();
    }
  }

  .hint-container {
    display: inline-block;
    margin-right: $padding-base-horizontal;
    line-height: 1;
    padding-bottom: 0.5em;
    opacity: $disabled-opacity;
  }

  .show-descriptions-toggle {
    display: inline-block;
    white-space: nowrap;
    .one-way-toggle {
      margin-right: $padding-xs-horizontal;
    }
    label {
      margin-bottom: 0;
    }
  }

  .view-tools-toggle {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: none;
    background-image: url($root-url + 'images/arrow-circle-down.svg');
    background-size: 30px;
    font-size: 1.7em;
    vertical-align: middle;
    transition: transition-linear(transform);
    &.active {
      transform: rotate(180deg);
    }
  }

  // override default "disabled" style of the tree field labels
  .one-dynamic-tree .one-tree .one-tree-list > li .one-tree-item-content .node-text.disabled {
    opacity: 1;
  }

  .header-content-container {
    .record-info-with-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 9px;
      padding-right: 210px;
      width: 100%;

      .record-name {
        padding-left: 18px;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .item-modified-header {
      padding-right: 230px;
    }
    .view-mode-selector {
      margin-right: $padding-xs-horizontal;
    }
    .view-tools {
      line-height: 35px;
      > * {
        vertical-align: bottom;
      }
      > .btn-group {
        vertical-align: middle;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .privileges-tree-editor {
      margin-left: $padding-large-horizontal;
      margin-top: 0;
    }
    .view-mode-selector {
      margin-bottom: $padding-base-vertical;
    }
    .view-tools {
      margin: 0 $padding-small-horizontal;
    }
  }
}
