.privileges-editor-modal {
  .one-dynamic-tree {
    margin: 0 auto;
  }

  .modal-dialog {
    max-height: 100%;
  }

  .bulk-edit-privileges-table-container {
    position: relative;
    min-height: 150px;

    .direct-member-privileges-table .table-privileges .privileges-column  {
      width: 70%;
    }
  }

  .batch-edit-tree-title {
    margin: 0 auto;
    transform: translateX(-1em);
    .one-icon {
      font-size: 2.4em;
    }
    .one-icon, .one-label {
      vertical-align: middle;
    }
  }

  .modal-footer {
    line-height: $padding-base-vertical * 3 + $line-height-computed;
  }

  @media (min-width: $screen-sm-min) {
    .one-dynamic-tree, .batch-edit-tree-title {
      max-width: 350px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .one-dynamic-tree {
      margin: 0 -2em;
    }
  }
}
