@use 'sass:math';

.space-details-tile {
  // FIXME: inna klasa do ustalania backgrounda raczej
  &.one-tile-link {
    .tile-main {
      --tile-background: white;
      &:hover {
        --tile-background: #{$-tile-hover-background-color};
      }
    }
  }

  .tile-content-inner {
    display: flex;
    flex-direction: column;
    .main-figure {
      transform: translateY(-50%);
    }
  }
  .figure-text-centered {
    font-style: italic;
    @include font-semibold;
  }
  .tile-element {
    position: relative;
  }
  .organization-name-row {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    .organization-name-icon {
      margin-left: -0.15em;
      font-size: 200%;
      + .organization-name {
        margin-left: 0.4em;
      }
    }
    .organization-name {
      @include font-semibold;
    }
  }
  .space-tags {
    margin-top: 0.4em;
    &.tags-input {
      font-size: 0.85em;
    }
  }
  .top-placeholder {
    font-size: 0.9em;
    opacity: $disabled-opacity;
    font-style: italic;
  }
  .organization-name-row + .top-placeholder {
    margin-top: 0.2em;
  }
  .top-placeholder + .space-tags {
    margin-top: 0.6em;
  }
  .description-row {
    position: relative;
    overflow: hidden;
    z-index: 0;
    flex-grow: 1;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 2em;
      background: linear-gradient(0deg, var(--tile-background), transparent);
      z-index: 1;
    }
  }
  .markdown-view {
    margin-top: 1em;
    margin-bottom: 0;
    pointer-events: none;
  }
  .rendered-markdown {
    $scale-down-by: 20%;
    width: #{math.div(100%, 100% - $scale-down-by) * 100%};
    transform: translateX(#{-$scale-down-by * 0.5}) translateY(#{-$scale-down-by * 0.5}) scale(#{100% - $scale-down-by});
  }
}
