.space-marketplace-tile {
  .tile-content-inner {
    display: flex;
    flex-direction: column;
    .main-figure {
      transform: translateY(-50%);
    }
  }
  .tile-element {
    position: relative;
  }
  .figure-bottom-text {
    margin-top: -0.6em;
    &.advertised {
      @include font-semibold;
    }
    &.not-advertised {
      font-style: italic;
      opacity: $disabled-opacity;
    }
  }
}
