.token-consumer {
  $mobile-view-breakpoint: $screen-sm-min + 180;
  text-align: center;

  &.is-examining {
    .token-string {
      padding-right: 2 * $padding-base-horizontal + 24px;
    }
  }

  .token-container {
    position: relative;
    margin-bottom: 2 * $padding-base-vertical;
    transform: translateY(-50%);

    .spin-spinner-block {
      position: absolute;
      top: 0;
      right: $padding-base-horizontal;
      height: $input-height-base;
    }
  }

  .type-info {
    font-size: 13pt;

    strong {
      @include font-bold();
    }

    .type-label {
      @include font-semibold();
    }

    .token-type {
      padding-bottom: $padding-base-vertical;
      margin: 0;

      .record-info-icon {
        color: $color-one-light-gray;
        font-size: 150%;
        vertical-align: bottom;
      }
    }
    .alert-warning {
      font-size: $font-size-base;
      margin-bottom: 3.5em;
    }
  }

  .joining-record-container {
    position: relative;
    min-height: 60px;
    flex-grow: 3;
    margin-bottom: 2 * $padding-base-vertical;
  }

  .joining-record-selector {
    text-align: left;
    font-size: 14px;
    margin-bottom: 2 * $padding-base-vertical;
  }

  .warning-icon {
    height: 21px;
    vertical-align: text-bottom;
  }
  .discard-btn {
    margin-right: $padding-base-horizontal;
  }

  .option-buttons {
    padding-top: $padding-base-vertical;

    @media (min-width: $mobile-view-breakpoint) {
      padding-top: 2 * $padding-base-vertical;
    }
  }
}

.token-invite-target-id-info .control-label:first-letter {
  text-transform: uppercase;
}
