.spaces-marketplace-list {
  .table-start-row, .first-row {
    height: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .no-matching-results {
    padding-top: $spaces-marketplace-items-spacing;
  }
  .list-entries {
    padding-left: 0;
  }
}
