<td colspan="9999">
  <button class="expand-button clickable" {{action "expand"}}>
    {{tt this "showMoreEntries" entriesCount=entriesCount}}
    {{one-icon icon="arrow-down"}}
  </button>
</td>
{{yield}}
