{{one-icon icon="provider"}}
{{#truncated-string class="after-icon"}}
  <span class="one-label">{{item.name}}</span>
{{/truncated-string}}
{{#status-toolbar as |toolbar|}}
  {{toolbar.icon 
    icon="space"
    innerText=_spaces.length}}
  {{toolbar.icon
    icon="provider"
    outerText=(bytes-to-string _totalSupportSize)}}
{{/status-toolbar}}
