<div class="row content-row header-row hidden-xs">
  <h1 class="with-menu">
    <span class="one-label">
      {{tt this "header"}}
    </span>
    {{actions-toolbar actionsArray=globalActions isMinimized=true}}
  </h1>
</div>
<div class="row content-row">
  {{content-spaces-marketplace/list viewModel=viewModel}}
</div>