<div class="icon-section">
  {{one-icon icon="space"}}
</div>
<div class="content-section">
  {{spin-spinner-block
    sizeClass="md"
    class="absolute-middle-centered item-loading-spinner-block"
  }}
</div>
{{yield}}