.spaces-marketplace-filter-header {
  $item-spacing: var(--spaces-marketplace-item-spacing, #{$fallback-spaces-marketplace-item-spacing});
  padding-top: $item-spacing;

  .form-group.search-form-group {
    margin-bottom: 0;
  }
  .search-form-group + .tags-filter-form-group {
    $vertical-margin: calc($item-spacing * 0.5);
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
  }
}
