<div class="form-group-light search-form-group">
  <div class="input-group with-icon-addon">
    {{search-bar search=(action "changeSearchValue") class="form-control"}}
    <div class="input-group-addon">
      {{one-icon icon="search"}}
    </div>
  </div>
</div>
<ul class="functions-list">
  {{#each sortedCollection as |lambdaFunction|}}
    {{content-inventories-functions/lambda-functions-list-entry
      lambdaFunction=lambdaFunction
    }}
  {{/each}}
</ul>
{{yield}}
