.effective-member-privileges-table {

  // margin-right: 300px;
  margin-left: $padding-base-horizontal;
  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;
  width: 500px;

  .table-privileges {
    margin-bottom: 0;
    border: 1px solid $table-border-color;
  border-radius: $border-radius-base;

    thead, tbody .header {
      background-color: #eaeaea;
      @include font-semibold;
      // Using background-clip to fix border hiding under background in Firefox.
      // See more: https://bugzilla.mozilla.org/show_bug.cgi?id=688556
      background-clip: padding-box;
    }
    tbody tr {
      border-top: 1px solid $table-border-color;
    }
    tbody td:not(:first-of-type), thead td:not(:first-of-type) {
      border-left: 1px solid $table-border-color;
    }

    .oneicon-arrow-down, .oneicon-arrow-up {
      padding-right: 10px;
      vertical-align: middle;
      font-weight: bold;
    }
    .children-privileges {
      font-size: 85%;
      background-color: $block-background-color;

      td.priv {
        padding-left: 40px;
      }
      .status {

        // font-size: 270%;
      }
      .oneicon-lock {
        opacity: 0.6;
      }
    }

    .toggle-column {
      text-align: center;
      vertical-align: middle;
      // padding: 0;
      &.global {
        padding-bottom: 9px;
        padding-top: 9px;
      }
      &.checked {
        padding-bottom: 5px;
        padding-top: 5px;
      }
      &.false {
        font-size: 200%;
        font-weight: bold;
        padding-bottom: 4px;
        padding-top: 2px;
        color: #BEBEBE;
      }
    }

    .status {
      // opacity: 0.6;
      // font-size: 280%;
      padding: 6px;
      span {
        display: block;
      }

      display: flex;
      justify-content: center;


      .oneicon-lock {
        padding-top: 4px;
      }
    }
    .tmp {
      .one-way-toggle-track {
        visibility: hidden;
        color: green;
      }
    }
    .direct {
      background: repeating-linear-gradient(
  45deg,
  #F7F7F7,
  #F7F7F7 10px,
  #FAFAFA 10px,
  #FAFAFA 20px
);
    }
    .one-icon {
      color: #555555;
    }
    .oneicon-checked {
      font-size: 240%;
      color: $color-one-mint;
    }

    .pill {
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 25px;

      color: $main-text-color;

      &.green {
        border: 1px solid lighten($color-one-mint, 15%);
        background-color: lighten($color-one-mint, 35%);
      }
      &.yellow {
        border: 1px solid lighten($color-one-yellow, 20%);
        background-color: lighten($color-one-yellow, 40%);
      }
      &.grey {
        border: 1px solid lighten(#555555, 40%);
        background-color: lighten(#555555, 55%);
      }
    }
  }
}
