.group-privileges-cell {
  .pill {
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-radius: 25px;

    color: $main-text-color;

    &.green {
      border: 1px solid lighten($color-one-mint, 15%);
      background-color: lighten($color-one-mint, 35%);
    }
    &.yellow {
      border: 1px solid lighten($color-one-yellow, 20%);
      background-color: lighten($color-one-yellow, 40%);
    }
    &.grey {
      border: 1px solid lighten($color-one-dark-gray, 40%);
      background-color: lighten($color-one-dark-gray, 55%);
    }
  }
}
