tr.privilege-row {
  font-size: 85%;
  background-color: $block-background-color;

  td.priv:first-child {
    padding-left: 3.4em;
    vertical-align: middle;
  }

  .priv-revoke, .priv-unknown {
    font-weight: bold;
    color: #BEBEBE;
  }

  .priv-unknown {
    font-size: 170%;
  }

  .priv-revoke {
    font-size: 200%;
  }

  .modified-priv {
    font-weight: bold;
  }

  .effective {
    display: flex;
    justify-content: center;
    padding: $padding-xs-horizontal;
    position: relative;

    span {
      display: block;
    }

    &.revoke {
      padding-top: $padding-small-vertical;
      padding-bottom: $padding-small-vertical;
    }
    .spin-spinner-block {
      position: absolute;
      top: 14px;
      right: 9px;
    }
  }
  .oneicon-checked {
    font-size: 240%;
    color: $color-one-mint;
  }
}
