tr.privilege-row {
  font-size: 85%;
  background-color: $block-background-color;

  td.priv:first-child {
    padding-left: 40px;
    vertical-align: middle;
  }
  .oneicon-lock {
    opacity: 0.6;
  }

  .priv-revoke {
    font-size: 200%;
    font-weight: bold;
    color: #BEBEBE;
  }

  .modified-priv {
    font-weight: bold;
  }


  .effective {
    display: flex;
    justify-content: center;
    padding: 6px;

    span {
      display: block;
    }

    &.not-granted {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  .oneicon-checked {
    font-size: 240%;
    color: $color-one-mint;
  }
}
