.tags-input .tags-input-selector-editor.space-tags-selector-editor,
.one-webui-popover.space-tags-selector {
  width: 200px;
}

.one-webui-popover.space-tags-selector {
  $spacing: 4px;
  height: 23em;
  padding-bottom: 0;
  .tags-container {
    padding-bottom: $spacing;
  }
  // make small input more compact
  .input-sm.filter-tags-input {
    padding-left: 6px;
    padding-right: 6px;
  }
  .filter-tags-input, .tags-container {
    margin-top: $spacing;
  }
  .no-tags-text {
    margin: 1em;
  }
}
