{{#promise-proxy-container
  proxy=privilegesLoadingProxy
  isLoading=(or (and recordDirectProxy.isLoading (not recordDirectProxy.hasBeenLoaded)) (and recordEffectiveProxy.isLoading (not recordEffectiveProxy.hasBeenLoaded)))
  isLoaded=(and (and recordDirectProxy.hasBeenLoaded (not recordDirectProxy.models.isRejected)) (and recordEffectiveProxy.hasBeenLoaded (not recordEffectiveProxy.models.isRejected)))
  isError=(or recordDirectProxy.fetchError recordEffectiveProxy.fetchError)
  errorReason=(if recordDirectProxy.fetchError recordDirectProxy.fetchError recordEffectiveProxy.fetchError)
}}
  {{#bs-form submitOnEnter=false as |form|}}
    <table class="table-privileges table table-info">
      {{member-privileges/table-header
        modelTypeTranslation=modelTypeTranslation
        isBulkEdit=isBulkEdit
      }}
      <tbody>
        {{#each definition as |groupPrivileges|}}
          {{member-privileges/group-privilege-row
            privileges=(get
              modifiedPrivileges
              groupPrivileges.name)
            effectivePrivilegeValues=(get
                    effectivePrivileges
                    groupPrivileges.name)
            privilegesGroup=groupPrivileges
            previousDirectPrivilegeValues=(get directPrivileges groupPrivileges.name)
            inputChanged=(action "inputValueChanged")
            changeOpenGroup=(action "changeOpenGroup" groupPrivileges.name)
            isOpen=(get groupsOpenState groupPrivileges.name)
            form=form
            isDirect=true
            editionEnabled=editionEnabled
            isBulkEdit=isBulkEdit
          }}
          {{#if (get groupsOpenState groupPrivileges.name)}}
            {{#each groupPrivileges.subtree as |privilege|}}
              {{member-privileges/privilege-row
                privilege=privilege
                directPrivilegeValue=(get
                  (get modifiedPrivileges groupPrivileges.name)
                  privilege.name
                )
                previousDirectPrivilegeValue=(get
                  (get directPrivileges groupPrivileges.name)
                  privilege.name
                )
                effectivePrivilegeValue=(get
                  (get effectivePrivileges groupPrivileges.name)
                  privilege.name
                )
                privilegesGroupName=groupPrivileges.name
                inputChanged=(action "inputValueChanged"
                  (concat (concat groupPrivileges.name '.') privilege.name)
                )
                form=form
                isDirect=true
                isBulkEdit=isBulkEdit
                editionEnabled=editionEnabled
              }}
            {{/each}}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{/bs-form}}
{{/promise-proxy-container}}

