{{#promise-proxy-container
  proxy=recordDirectProxy.models
  isLoading=(and recordDirectProxy.isLoading (not recordDirectProxy.hasBeenLoaded))
  isLoaded=(and recordDirectProxy.hasBeenLoaded (not recordDirectProxy.models.isRejected))
  isError=recordDirectProxy.fetchError
  errorReason=recordDirectProxy.fetchError}}
{{#promise-proxy-container
  proxy=recordEffectiveProxy.models
  isLoading=(and recordEffectiveProxy.isLoading (not recordEffectiveProxy.hasBeenLoaded))
  isLoaded=(and recordEffectiveProxy.hasBeenLoaded (not recordEffectiveProxy.models.isRejected))
  isError=recordEffectiveProxy.fetchError
  errorReason=recordEffectiveProxy.fetchError}}
  {{#bs-form submitOnEnter=false as |form|}}
    <table class="table-privileges table table-info">
      {{member-privileges/table-header
        modelTypeTranslation=modelTypeTranslation
        isBulkEdit=isBulkEdit
      }}
      <tbody>
        {{#each definition as |groupPrivileges|}}
          {{member-privileges/group-privilege-row
            privileges=(get
              modifiedPrivileges
              groupPrivileges.name)
            effPrivileges=(get
                    effectivePrivileges
                    groupPrivileges.name)
            groupPrivileges=groupPrivileges
            oldPrivileges=(get directPrivileges groupPrivileges.name)
            inputChanged=(action "inputValueChanged")
            changeOpenGroup=(action "changeOpenGroup" groupPrivileges.name)
            isOpen=(get isOpenedGroup groupPrivileges.name)
            form=form
            isDirect=true
            editionEnabled=editionEnabled
            isBulkEdit=isBulkEdit
          }}
          {{#if (get isOpenedGroup groupPrivileges.name)}}
            {{#each groupPrivileges.subtree as |privilege|}}
              {{member-privileges/privilege-row
                privilege=privilege
                directPrivilege=(get
                  (get modifiedPrivileges groupPrivileges.name)
                  privilege.name
                )
                oldPrivilege=(get
                  (get directPrivileges groupPrivileges.name)
                  privilege.name
                )
                effectivePrivilege=(get
                  (get effectivePrivileges groupPrivileges.name)
                  privilege.name
                )
                groupPrivileges=groupPrivileges.name
                inputChanged=(action "inputValueChanged"
                  (concat (concat groupPrivileges.name '.') privilege.name)
                )
                form=form
                isDirect=true
                isBulkEdit=isBulkEdit
                editionEnabled=editionEnabled
              }}
            {{/each}}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{/bs-form}}
{{/promise-proxy-container}}
{{/promise-proxy-container}}

