.content-atm-inventories-lambdas .atm-lambdas-list {
  $item-border: 2px solid darken($color-one-light-blue, 10%);

  .search-form-group {
    max-width: 50em;
    margin-bottom: $padding-base-vertical;
  }

  .lambdas-list {
    list-style-type: none;
    padding: 0;
  }

  .atm-lambdas-list-entry {
    display: flex;
    border: $item-border;
    border-radius: $border-radius-base;

    + .atm-lambdas-list-entry {
      margin-top: $padding-base-vertical;
    }
  }

  .icon-section,
  .content-section {
    padding: $padding-base-vertical;
  }

  .icon-section {
    text-align: center;
    background-color: $color-one-light-blue;
    border-right: $item-border;

    .one-icon {
      font-size: 2.5em;
      color: $color-one-blue-gray;
      margin: -0.2em;
      display: block;
      width: 1em;
    }
  }

  .content-section {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: flex-start;

    .form {
      margin: 0;
      margin-top: $padding-base-vertical;
      padding: 0;
    }
  }

  .name {
    @include font-semibold();
    margin-bottom: $padding-small-vertical;
  }

  .name,
  .summary {
    word-break: break-word;
  }

  .lambda-content {
    flex-grow: 1;
    min-width: 0;
  }

  .one-menu-toggle {
    margin-right: -$padding-base-vertical;
  }
}
