.atm-lambda-form {
  $padding-right: 15em;
  $space-for-remove-entry: 1em;
  $entry-toggle-container-width: ($padding-right - $space-for-remove-entry) / 2;
  $nested-fields-indent: 2em;

  .form .one-way-toggle {
    display: inline-flex;
  }

  .arguments-field,
  .results-field {
    .arguments-collapse, .results-collapse {
      > .collection-item {
        position: relative;
        border: 1px solid $main-border-color;
        border-radius: $border-radius-base;
        padding: $form-group-margin-bottom;
        padding-bottom: 0;
        background-color: rgba($color-one-semiwhite, 0.2);

        + .collection-item, + .add-field-button {
          margin-top: $form-group-margin-bottom;
        }
      }

      > .collection-item + .collection-item {
        margin-top: $form-group-margin-bottom;
      }
    }

    .entryName-field,
    .entryType-field,
    .entryDefaultValue-field {
      .control-label {
        display: none;
      }
    }
  }

  .mountSpaceOptions-field {
    margin-left: $nested-fields-indent;
  }

  .resources-field {
    flex-wrap: wrap;

    > .control-label {
      @include font-semibold();
      padding-top: $padding-large-vertical;
      margin-bottom: 0.7em;
      flex-basis: 100%;
      max-width: initial;
      border-top: 1px solid $main-border-color;
      text-transform: uppercase;
    }
  }

  .form .footer-buttons {
    float: none;
    text-align: left;
    .btn {
      margin-left: $padding-small-horizontal;
    }
  }

  .time-series-measurements-dataspec-editor {
    margin-bottom: 0;

    .add-field-button:first-child {
      margin-top: 0;
      margin-bottom: $form-group-margin-bottom;
    }
  }

  @media (max-width: $screen-xs-max) {
    .arguments-field,
    .results-field {
      .form-fields-collection-group {
        margin-left: $nested-fields-indent;
      }
      > .control-label {
        margin-bottom: $form-group-margin-bottom / 2;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .control-label {
      width: 9em;
      text-align: left;
    }

    .arguments-field,
    .results-field {
      flex-wrap: nowrap;

      .entry-children {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }

    @media (max-width: $screen-sm-max) {
      .entryName-field,
      .entryType-field,
      .entryDefaultValue-field {
        flex: 1 1 100%;
      }

      .entryIsArray-field,
      .entryIsOptional-field {
        .control-label {
          width: initial;
          min-width: initial;
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    $x-offset-to-center-toggles: ($entry-toggle-container-width - $toggle-width) / 6;

    .control-label {
      width: 12em;
    }

    .fields-group-children.-children {
      > * {
        margin-right: $padding-right;
      }

      .arguments-field,
      .results-field {
        margin-right: 0;
      }
    }

    .arguments-field,
    .results-field {
      .entryName-field {
        flex: 0 1 calc(50% - #{$padding-right / 2});
      }

      .entryType-field {
        flex: 0 1 calc(50% - #{$padding-right / 2} - #{$padding-base-vertical});
        min-width: 15em;
        margin-left: $padding-base-vertical;
      }

      .entryIsArray-field,
      .entryIsOptional-field {
        flex: 0 1 $entry-toggle-container-width;
        height: $input-height-base;

        .control-label {
          position: absolute;
          min-width: initial;
          width: initial;
          max-width: initial;
          padding: 0;
          bottom: 90%;
          left: 50%;
          transform: translateX(-50%);
        }

        .field-component {
          text-align: center;
        }
      }

      .entryIsArray-field {
        transform: translateX(#{$x-offset-to-center-toggles});
      }

      .entryIsOptional-field {
        transform: translateX(-#{$x-offset-to-center-toggles});
      }

      .entryDefaultValue-field {
        margin-right: $padding-right;
      }

      .entry-field + .remove-field-button-container {
        position: absolute;
        right: 0.1em;
        top: 0.4em;
        display: initial;
      }
    }
  }
}
