.content-atm-inventories-lambdas-list-view .atm-lambdas-list {
  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $iconified-block-padding;
  }

  .search-form-group {
    flex-grow: 1;
  }

  .lambdas-list {
    list-style-type: none;
    padding: 0;
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        "details actions"
        "revisions revisions";
  }

  .details {
    grid-area: details;
    min-width: 0;
  }

  .revisions-table {
    grid-area: revisions;
    margin-top: 1em;
  }

  .atm-lambda-actions-trigger {
    grid-area: actions;
    align-self: start;
    margin-right: -$iconified-block-padding;
  }

  .lambda-name {
    @include font-semibold();
    margin-bottom: $padding-small-vertical;
  }

  .lambda-name,
  .lambda-summary {
    word-break: break-word;
  }

  @media (min-width: $screen-sm-min) {
    .name-column,
    .name {
      width: 40%;
    }

    .summary-column,
    .summary {
      width: 60%;
    }
  }

  @media (min-width: $screen-md-min) {
    .name-column,
    .name {
      width: 30%;
    }

    .summary-column,
    .summary {
      width: 70%;
    }
  }

  @media (max-width: $screen-xs-max) {
    .summary-column,
    .summary {
      display: none;
    }
  }

  &.filtered-list {
    .search-form-group .oneicon-search {
      color: $color-one-success;
    }
  }

  &.mode-selection {
    .view-data-collapse {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }

    .lambda-generics {
      flex-grow: 1;
      min-width: 0;
      padding-right: $padding-base-vertical;
    }
  }

  @media (max-width: $screen-xs-max) {
    .list-header {
      flex-wrap: wrap;
    }

    .search-form-group {
      margin-bottom: $iconified-block-padding;
    }

    &.mode-selection {
      .view-data-collapse {
        flex-wrap: wrap;
      }

      .lambda-generics {
        flex-basis: 100%;
        margin-bottom: $padding-base-vertical;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .search-form-group {
      margin-right: $iconified-block-padding;
      max-width: 50em;
    }
  }
}
