{{#content-info
  class="scroll-breakpoint-400"
  header=(tt this "offlineProviders")
  imagePath=(root-url "assets/images/data-error-no-providers.svg")
}}
  <div class="offline-providers-description lead">{{tt this "offlineProvidersDescription"}}</div>
{{/content-info}}