{{#content-info
  class="scroll-breakpoint-400"
  header=(tt this "openShareFailed")
  imagePath=(root-url "assets/images/resource-not-found.svg")
}}
  <div class="open-share-failed-description lead">{{description}}</div>
{{/content-info}}