{{#content-info
  class="scroll-breakpoint-400"
  header=(tt this "shareNotFound")
  imagePath=(root-url "assets/images/resource-not-found.svg")
}}
  <div class="share-not-found-description">{{tt this "shareNotFoundDescription"}}</div>
{{/content-info}}
