<div class="row content-row header-row hidden-xs">
  <h1 class={{unless oneprovider.isAllOneproviders "normal-case"}}>
    {{#truncated-string class="one-label"}}{{oneprovider.name}}{{/truncated-string}}
  </h1>
</div>
<div class="row content-row">
  {{uploading-presenter oneprovider=(if oneprovider.isAllOneproviders undefined oneprovider)}}  
</div>
