{{#content-info
  class="scroll-breakpoint-500"
  header=(tt this "title")
  text=(tt this "text")
}}
  <p class="lead">
    <ul class="info">
      <li>
        {{#link-to "onedata.sidebar.content" "clusters" "add"}}
          {{tt this "p1a"}}
        {{/link-to}}
      </li>
    </ul>  
  </p>
{{/content-info}}