<div class="row content-row header-row hidden-xs has-border">
  <h1>
    <span class="one-label">
      {{tt this "header"}}
    </span>
  </h1>
</div>
<div class="row content-row">
  {{harvester-configuration harvester=harvester options=options}}
</div>
