{{!-- FIXME: three tabs, port utils for generating commands --}}
{{#content-info
  class="scroll-breakpoint-600"
  header="Get support for space"
}}
  <div class="row">
    {{#promise-proxy-container proxy=supportTokenProxy}}
      <textarea class="token-input form-control" rows="4" readonly>
        {{supportTokenProxy.content}}
      </textarea>
    {{/promise-proxy-container}}
  </div>
  <div class="row">
    {{#one-spin-button
      class="btn btn-sm btn-primary"
      action=(action "getNewSupportToken")
    }}
      {{one-icon icon="token"}} <span>Generate new token</span>
    {{/one-spin-button}}
  </div>
{{/content-info}}

