<div class="row content-row header-row hidden-xs has-border">
  <h1 class="with-menu">
    <span class="one-label">
      {{group.name}}
    </span>
  </h1>
</div>
<div class="row content-row">
  {{#promise-proxy-container proxy=user}}
    <div class="one-tile-container">
      {{#one-tile
        isScalable=true
        title=(tt this "tileMembershipTitle")
        aspect="membership"
        as |tile|}}
        {{membership-visualiser
          contextRecord=user.content
          targetRecord=group
          maxPathsNumber=4
          visibleBlocks=(if tile.xClass 4 2)
          isCondensed=true}}
      {{/one-tile}}
    </div>
  {{/promise-proxy-container}}
</div>
