<div class="row content-row header-row hidden-xs">
  <h1>{{tt this "header"}}</h1>
</div>
<div class="row content-row">
  {{#one-carousel activeSlideId=activeStep as |carousel|}}
    {{#carousel.slide slideId="templates"}}
      {{token-template-selector onTemplateSelected=(action "templateSelected")}}
    {{/carousel.slide}}
    {{#carousel.slide slideId="form"}}
      {{token-editor
        mode="create"
        token=activeTemplate
        onSubmit=(action "submit")
      }}
    {{/carousel.slide}}
  {{/one-carousel}}
</div>
