{{#content-info
  class="scroll-breakpoint-400"
  header=(tt this "header")
  imagePath="assets/images/space-join.svg"
  text=(tt this "text")
  buttonLabel=(tt this "joinButton")
  buttonAction=(action "joinSpace" token)
  buttonDisabled=(not token)
  as |contentInfo|
}}
  <div class="row">
    <div class="col-xs-12">
      {{#bs-form
        onSubmit=(action contentInfo.buttonAction)
        submitOnEnter=true
        as |form|
      }}
        <input
          id="join-space-token"
          value={{token}}
          oninput={{action (mut token) value="target.value"}}
          placeholder={{tt this "placeholder"}}
          disabled={{contentInfo.actionInProgress}}
          class="form-control join-space-token"
        >
      {{/bs-form}}
    </div>
  </div>
{{/content-info}}
