{{#content-info
  class="scroll-breakpoint-800"
  header=(tt this "header")
  imagePath=(root-url "assets/images/cluster-register-provider.svg")
  textTemplate="components/-content-clusters-add-lead"
}}
  {{#if canCurrentUserInviteProviders}}
    {{invite-token-generator inviteType="registerOneprovider"}}
  {{else}}
    <div class="alert alert-warning text-center">{{tt this "restrictedRegistrationWarn"}}</div>
    <p class="text-center"><strong>{{tt this "contactAdminToGetToken"}}</strong></p>
  {{/if}}
{{/content-info}}
