<div class="row content-row header-row hidden-xs">
  <h1 class="normal-case">
    <span class="token-name">{{token.name}}</span>
  </h1>
</div>
<div class="row content-row">
  {{token-editor mode="view" token=token}}
</div>
