{{#oneprovider-view-container
  contentContainerClass="content-spaces-datasets-content"
  space=space
  oneproviderId=oneproviderId
  oneproviderIdChanged=(action "oneproviderIdChanged")
  as |container|
}}
  {{#container.header class="content-spaces-datasets-header"}}
    <h1>
      <span class="one-label">{{tt this "header"}}</span>
    </h1>
    {{#bs-button-group
      value=effAttachmentState
      class="datasets-state-selector"
      type="radio"
      onChange=(action "attachmentStateChanged") as |bg|
    }}
      <div class="btn-group" role="group">
        {{#bg.button
          type="default"
          class="btn-sm select-attached-datasets-btn"
          value="attached"
        }}
          {{tt this "attached"}}
        {{/bg.button}}
      </div>
      <div class="btn-group" role="group">
      {{#bg.button
        type="default"
        class="btn-sm btn-effecitve"
        value="detached"
      }}
          {{tt this "detached"}}
        {{/bg.button}}
      </div>
    {{/bs-button-group}}
  {{/container.header}}
  {{#container.body}}
    {{embedded-content-space-datasets
      oneprovider=container.selectedProvider
      baseUrl=container.contentIframeBaseUrl
      spaceId=space.entityId
      attachmentState=effAttachmentState
    }}
  {{/container.body}}
{{/oneprovider-view-container}}
