<div class="world-map light">
  <div class="privacy-policy-content">
    <div class="container content-info-content-container">
      <div class="privacy-policy-title">{{tt this "privacyPolicy"}}</div>
      {{wysiwyg-editor mode="show" content=content}}
    </div>
  </div>
  <div class="footer-public">
    <div class="onedata-logo-public"></div>
    <div class="onedata-copyright-public">
      {{tt this "allRightsReserved"}}
    </div>
    <div class="back-to-main-page">
      {{#link-to "index"}}
        <span class="oneicon oneicon-home"></span>
        <span>{{tt this "backToMainPage"}}</span>
      {{/link-to}}
    </div>
  </div>
</div>