<div class="row content-row header-row hidden-xs has-border">
  <h1>
    <span class="one-label">
      {{tt this "header"}}
    </span>
  </h1>
</div>
<div class="row content-row">
  {{#promise-proxy-container proxy=harvesterConfigRecord}}
    {{harvester-configuration
      harvester=harvester
      guiPluginConfiguration=harvesterConfig
      onSave=(action "onSave")
      mode="create"}}
  {{/promise-proxy-container}}
</div>
