<div class="row content-row header-row hidden-xs has-border">
  <h1>
    <span class="one-label">
      {{tt this "header"}}
    </span>
  </h1>
</div>
<div class="row content-row">
  {{one-input-tokenizer
    tokens=entryTypes
    tokensChanged=(action "entryTypesChanged")
    placeholder="blablabla"
    isBusy=false
    separators=entryTypesSeparators
  }}
  {{#promise-proxy-container proxy=harvesterConfigRecord}}
    {{json-editor value=harvesterConfig onChange=(action "onConfigChange")}}
    {{#one-spin-button
      disabled=(or (not isHarvesterConfigModified) (not isHarvesterConfigValid))
      class="btn btn-primary"
      action=(action "onSave")}}
      {{tt this "save"}}
    {{/one-spin-button}}
  {{/promise-proxy-container}}
</div>
