<div class="world-map light">
  <div class="privacy-policy-content">
    <div class="container">
      <h1 class="privacy-policy-title">{{tt this "privacyPolicy"}}</h1>
      {{wysiwyg-editor mode="show" content=content}}
    </div>
  </div>
  {{#public-footer}}
    <div class="back-to-main-page">
      {{#link-to "index"}}
        {{one-icon icon="home"}}
        {{#unless media.isMobile}}
          <span>{{tt this "backToMainPage"}}</span>
        {{/unless}}
      {{/link-to}}
    </div>
  {{/public-footer}}
</div>