{{#unless areCookiesAccepted}}
  <div class="cookies-consent">
    <h1>This site uses cookies</h1>
    <p>We use cookies for navigation purposes and holding user session state. For more details see our <a class="clickable" {{action "showPrivacyPolicy"}}>privacy policy</a>.</p>
    {{#bs-button onClick=(action "acceptCookies") size="sm" type="primary" class="pull-right"}}I understand{{/bs-button}}
  </div>
{{/unless}}
{{yield}}
