{{#if content}}
  {{#bs-modal open=isOpened onHidden=(action "onHidden") as |modal|}}
    {{#modal.header}}
      <h1>{{tt this "header"}}</h1>
    {{/modal.header}}
    {{#modal.body class="min-height-100"}}
      {{wysiwyg-editor mode="show" content=content}}
    {{/modal.body}}
    {{#modal.footer class="btn-toolbar"}}
      {{#bs-button type="primary" onClick=modal.close class="close-privacy-policy"}}{{tt this "close"}}{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}
{{yield}}
