{{#truncated-string 
  class="current-oneprovider-name"
  mouseEnter=(action "changeIconHover" true)
  mouseLeave=(action "changeIconHover" false)
}}
  <div 
    class="inline-icon-container inline-icon-container-provider provider-info-trigger"
    {{action
      (mut providerInfoOpened)
      (not providerInfoOpened)
      bubbles=false
    }}
  >
    {{one-icon icon=icon}}
  </div>
  <span class="tab-name">{{provider.name}}</span>
{{/truncated-string}}{{#if multiOneproviders}}.{{/if}}
{{#one-webui-popover
  class="provider-info"
  popoverStyle="provider-info"
  open=providerInfoOpened
  triggerSelector=(concat "#" elementId " .provider-info-trigger")
  as |popover|
}}
  {{#click-outside
    action=(action (mut providerInfoOpened) false)
    except-selector=".provider-info-trigger, .webui-popover-provider-info"
  }}
    {{provider-info-popup
      class="provider-info-content form-group without-margin"
      provider=provider
    }}
  {{/click-outside}}
{{/one-webui-popover}}

