{{#if (eq item.icon "provider")}}
  {{provider-info-name
    provider=provider 
    class=(concat "nav-link truncate " (if isActive "active"))
    click=(action "anchorClicked")
    ignoreTouchAction=true
  }}
{{else}}
  {{#truncated-string 
    class=(concat "nav-link truncate " (if isActive "active"))
    click=(action "anchorClicked")
    ignoreTouchAction=true
  }}
    <div class="inline-icon-container not-animation">
      {{one-icon icon="overview"}}
    </div>
    <span class="tab-name one-label">{{item.name}}</span>
  {{/truncated-string}}
{{/if}}
