{{#promise-proxy-container proxy=providersOptionsProxy}}
  {{#if providersOptions.length}}
    {{#two-level-sidebar
      tagName=""
      model=model
      firstLevelItemIcon=firstLevelItemIcon
      sidebarType=sidebarType
      queryParams=queryParams
    }}
      <ul class="one-list">
        <li class="one-list-item search-bar-item">
          <div class="item-header form-group form-group-sm form-group-light">
            {{#power-select
              options=providersOptions
              selected=selectedProvider
              onchange=(action "dataProviderChanged")
              searchEnabled=false
              renderInPlace=true
              as |provider|
            }}
              <div class="option-container">
                {{#truncated-string}}
                  {{one-icon
                    icon=(if (eq userProxy.content.defaultProviderId provider.id) "home" "provider")
                  }}
                  <span class="text provider-name">{{provider.name}}</span>
                {{/truncated-string}}
              </div>              
            {{/power-select}}
          </div>
        </li>
      </ul>    
    {{/two-level-sidebar}}
  {{else}}
    {{empty-collection-sidebar resourceType="providers"}}
  {{/if}}
{{/promise-proxy-container}}