{{#one-tile
  title=(tt this "title")
  isLink=isLink
  class=tileClass
  aspect=aspect
  moreText=moreText
  footerText=(if isConfigureButtonShown (tt this 'configureAdvertisement'))
  footerTextIcon=(if isConfigureButtonShown "settings")
  footerLinkToParams=(if isConfigureButtonShown footerLinkToParams)
}}
  <figure class="main-figure">
    <img class="main-image" src={{imageSrc}}>
    <div class="figure-bottom-text {{figureBottomTextClass}}">
      {{figureBottomText}}
    </div>
  </figure>
{{/one-tile}}