{{#one-tile
  title=(tt this "title")
  isLink=isLink
  class=tileClass
  aspect=aspect
  moreText=moreText
}}
  {{!-- FIXME: może lepiej tutaj użyć ikony? --}}
  <figure class="main-figure">
    <img class="main-image " src="assets/images/settings-circle-filled.svg">
    {{#if centeredMessage}}
      <div class="figure-text-centered">{{centeredMessage}}</div>
    {{/if}}
  </figure>
{{/one-tile}}