{{#if summaryActive}}
  {{upload-presenter/single-upload
    class="hidden-lg hidden-md hidden-sm floating-summary-directory"
    uploadObject=uploadManager.floatingSummaryRootDirectory
    floatingMode=true
    onCancel=(action "cancelSummaryDirectory")
    isExpanded=false
    onToggleMinimize=(action "hideSummaryDirectory")
    click=(action "goToUploads")}}
{{/if}}
<div class={{if floatingMode "hidden-xs"}}>
  {{#each orderedUploadObjects as |uploadObject|}}
    {{upload-presenter/single-upload
      uploadObject=uploadObject
      floatingMode=floatingMode
      isMinimized=(not (contains uploadObject uploadManager.floatingUploads))
      minimizeTargetSelector=minimizeTargetSelector
      onCancel=(action "cancel")
      isExpanded=(contains uploadObject expandedUploads)
      onToggleExpand=(action "toggleExpand" uploadObject)
      onToggleMinimize=(action "toggleMinimize" uploadObject)}}
  {{/each}}
</div>
