{{#unless (eq globalProgress undefined)}}
  <div class="progress global-upload-progress-bar">
    <div
      class="progress-bar progress-bar-success"
      role="progressbar"
      style={{progressBarWidthStyle}}></div>
  </div>
{{/unless}}
{{partial "components/main-menu-item"}}
