{{#unless (eq globalProgress undefined)}}
  <div class="progress global-upload-progress-bar">
    <div
      class="progress-bar progress-bar-success"
      role="progressbar"
      style={{progressBarWidthStyle}}></div>
  </div>
{{/unless}}
<MainMenuItemBody @icon={{@item.icon}} @name={{this.name}} @tip={{@item.tip}} />
