.content-atm-inventories-workflows .atm-workflow-schemas-list {
  .search-form-group {
    max-width: 50em;
    margin-bottom: $iconified-block-padding;
  }

  .list-entries {
    list-style-type: none;
    padding: 0;
  }

  .atm-workflow-schemas-list-entry {
    &.is-editing {
      cursor: initial !important;
    }
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        "details actions"
        "revisions revisions";

    .form {
      margin: 0;
      padding: 0;
    }

    .field-view-mode {
      .control-label {
        display: none;
      }
    }

    .control-label {
      text-align: left;
      width: 8em;
    }
  }

  .atm-workflow-schema-details-form {
    grid-area: details;
    min-width: 0;
    padding-bottom: 1em;
  }

  .revisions-table {
    grid-area: revisions;
  }

  .name-field.field-view-mode {
    @include font-semibold();
  }

  .fields-group-children.-children > .form-group.field-view-mode:last-child {
    margin-bottom: 0;
  }

  .footer-buttons {
    float: none;
    text-align: left;
    .btn {
      margin-left: $padding-small-horizontal;
    }
  }

  .workflow-actions-trigger {
    grid-area: actions;
    align-self: start;
    margin-right: -$iconified-block-padding;
  }
}
