.content-atm-inventories-workflows-task-details-view {
  $form-max-width: 1100px;

  .task-form-container {
    margin: $padding-large-vertical 0;
  }

  .name-field,
  .form-fields-collection-group,
  .resources-field > .field-component {
    max-width: $form-max-width;
  }

  .btn-toolbar {
    margin-top: $padding-base-vertical;
  }

  @media (max-width: $screen-xs-max) {
    .task-form-container {
      margin-left: $mobile-horizontal-content-padding;
      margin-right: $mobile-horizontal-content-padding;
    }
  }
}
