.content-inventories-workflows-creator-view {
  @include full-col-content-as-min-height();
  display: flex;
  flex-direction: column;

  .content-info {
    flex-grow: 1;
    position: relative;
  }

  .control-label {
    width: 8em;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}
