.content-inventories-workflows-editor-view {
  @include full-col-content-as-min-height();

  .header-row .one-inline-editor {
    margin-top: initial;

    .form-control {
      margin-top: initial;
      margin-bottom: initial;
    }
  }
}
