<div class="row content-row header-row hidden-xs">
  <h1>
    <span class="one-label">{{tt this "header"}}</span>
    {{actions-toolbar isMinimized=false actionsArray=globalActions}}
  </h1>
</div>
<div class="row content-row">
  {{#promise-proxy-container proxy=workflowSchemasProxy}}
    {{content-inventories-workflows/workflows-list
      collection=workflowSchemasProxy.content
      onWorkflowClick=onOpenWorkflowSchema
    }}
  {{/promise-proxy-container}}
</div>
{{yield}}
