<div class="form-group-light search-form-group">
  <div class="input-group with-icon-addon">
    {{search-bar search=(action "changeSearchValue") class="form-control"}}
    <div class="input-group-addon">
      {{one-icon icon="search"}}
    </div>
  </div>
</div>
<ul class="workflows-list-entries">
  {{#each sortedCollection as |workflow|}}
    {{content-inventories-workflows/workflows-list-entry
      workflow=workflow
      onWorkflowClick=(action onWorkflowClick workflow)
    }}
  {{/each}}
</ul>
{{yield}}
