{{#global-modal
  classNames="generate-invite-token-modal"
  modalId=modalId
  as |modal|
}}

  {{#modal.header}}
    <h1>{{tt this (concat "header." inviteType)}}</h1>
  {{/modal.header}}

  {{#modal.body}}
    {{invite-token-generator
      inviteType=inviteType
      targetRecord=targetRecord
      onCustomTokenClick=modal.close
    }}
  {{/modal.body}}

  {{#modal.footer class="btn-toolbar"}}
    {{#one-button type="default" class="modal-close" onClick=modal.close}}
      {{tt this "close"}}
    {{/one-button}}
  {{/modal.footer}}

{{/global-modal}}
